/* Header */

.menu{
    width: 100%;
    color:#4c626b;
  }
  .menu h1{
    font-size: 40px;
    margin: 10px;
  }
  
  .menu li{
    list-style: none;
  }
  .menu a{ 
    text-decoration: none;
    margin: 10px;
  }
  
  .menu .pt1{
    width: 100%;
    height: 70px;
    background-color: #ecebec;
  }
  
  .menu > .pt2{
    width: 100%;
    background-attachment: #ffffff;
    box-shadow: 0 5px 4px -2px gray;
  }
  
  .menu .pt1 div, .menu .pt2 div{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu ul{
    display: flex;
  }
  
  .menu .pt1 a{
    padding: 10px;
    background-color: #3A5B62;
    color: #fff;
    border-radius: 5px;
  }
  
  .menu .pt2 a{
    color: #4c626b;
  }