img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#app {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#app-loading {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    height: 10%;
}

.title-site {
    margin-top: 1rem;
    width: 60%;
    height: 8rem;
    border-radius: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtitle-site {
    /* margin: 0.4rem; */
    height: 14rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

#app > div {
    /* margin: 0.4rem; */
    /* height: 16rem; */
    height: auto;
    /* width: 90%; */
    border-radius: 16px;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.title-holder {
    height: 9rem;
    width: 32.6%;
    /* padding: 1.2rem; */
    /* margin: 1.2rem; */
    border-radius: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.switches {
    margin-top: 1.2rem;
    display: flex;
}

.switch-holder {
    margin-right: 6px;
    margin-left: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.switch-holder > h3 {
    font-size: 12px;
    margin-bottom: 8px;
}

.chart-holder {
    width: 100%;
    display: grid;
    grid-gap: 1.2rem;
    padding-bottom: 1.2rem;
}

.giant-holder {
    height: 8rem;
    grid-template-columns: repeat(2, 1fr);
}

.giant-holder-one {
    height: 8rem;
    grid-template-columns: repeat(1, 1fr);
}

.tiny-holder {
    height: 24rem;
    grid-template-columns: repeat(3, 1fr);
}

.chart {
    position: relative;
    height: 100%;
    padding: 0.2rem;
    border-radius: 16px;
    background-color: white;
}

.chart-drag {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.specific-chart {
    margin: 4%;
    width: 90%;
    height: 90%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.giant-chart {
    /* width: 49%; */
    width: 100%;
}

.tiny-chart {
    /* width: 32%; */
    width: 100%;
}