input[type="range"] {
    width: 70%;
    height: 24px;
    padding: 0px;
    -webkit-appearance: none;
    margin: 10px 0;
    background: #c4c4c4;
    border: 1px solid #7C7C7C;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 6px #000000;
    border-radius: 5px;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    overflow: hidden;
    width: 100%;
    height: 20px;
    border-radius: 5px;
    transition: 0.2s;
}

input[type="range"]::-webkit-slider-thumb {
    width: 25px;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    background: #f1f1f1;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-appearance: none;
    /* margin-top: -7px; */
    border: 2px solid #474646;
    box-shadow: -1040px 0 0 1040px #3A5B62, inset 0 0 0 40px #fff;
}

.anoFin {
    color: #4B4B4B;
    font-weight: 600;
}

.box-campos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.box-campos select, .box-campos input {
    margin-top: 10px;
    width: 20%;
    height: 35px;
    padding: 5px;
    text-align: left;
    color: #4b4b4b;
    border: 2px solid #636363;
    box-sizing: border-box;
    border-radius: 5px;
}

.box-campos a {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.grafico {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 70%;
    height: 250px;
    background-color: var(--background-light);
    box-shadow: 4px 8px 30px rgb(0 0 0 / 10%);
    border-radius: 12px;
}

.botao {
    width: 35%;
    height: 50px;
    background-color: var(--text-header-light);
    color: white;
    border: 0px;
    border-radius: 5px;
}