
.footer {
    width: 100%;
    background-color: var(--azul);
    color: var(--preto-terciario);
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height: 2rem;
    margin-top: 2rem;
}

.topics {
    font-style: italic;
}

.footer .icons div{
    display: flex;
    justify-content: space-between;
}

.footer .copyright{
    align-items: bottom;
}

.footer .copyright h3, p{
    font-size: 14px;
}

.social-icons {
    cursor: pointer;
    padding: 0px;
}
.social-icons:hover {
    color: var(--azul);
    background-color:var(--preto-terciario);
    border-radius: 4px;
    transition: background 0.1s linear;
}