* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    font-size: 12px;
}

body, input, button, textarea {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    --webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 38px;
    font-weight: 400;
}

h2 {
    font-size: 28px;
    font-weight: 400;
}

h3 {
    font-size: 22px;
    font-weight: 400;
}

h4 {
    font-size: 18px;
    font-weight: 600;
}

h5 {
    font-size: 16px;
    font-weight: 600;
}

p {
    font-size: 1rem;
    font-weight: 500;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4, h5, p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

button {
    padding: 4px 16px 4px 16px;
    background-color: var(--verde);
    color: var(--branco);
    border-radius: 4px;
    border: 2px solid var(--verde);
    cursor: pointer;
}

button:hover {
    background-color: var(--branco);
    color: var(--verde);
    box-sizing: content-box;
    border: 2px solid var(--verde);
    transition: 0.1s;
}

input {
    padding: 2px 4px 2px 4px;
    border: 2px solid var(--preto-secundario);
    border-radius: 2px;
}

input:hover {
    outline: 2px solid var(--azul-hover);
}

input:focus {
    outline: 1px solid var(--azul-hover);
}

.shadow {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}