* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    font-size: 12px;
    background: var(--branco)
}

body, input, button, textarea {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    --webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 34px;
    font-weight: 400;
}

h2 {
    font-size: 28px;
    font-weight: 400;
}

h3 {
    font-size: 22px;
    font-weight: 400;
}

h4 {
    font-size: 18px;
    font-weight: 600;
}

h5 {
    font-size: 16px;
    font-weight: 600;
}

p {
    font-size: 1rem;
    font-weight: 500;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4, h5, p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

a {
    font-size: 1rem;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
/* 
a:hover {
    text-decoration: underline;
} */

button {
    padding: 8px 16px 8px 16px;
    background-color: var(--verde);
    color: var(--branco);
    border-radius: 3px;
    border: 2px solid var(--verde);
    cursor: pointer;
}

button:hover {
    background-color: var(--branco);
    color: var(--verde);
    box-sizing: content-box;
    border: 2px solid var(--verde);
    transition: 0.1s;
}

input, select {
    padding: 2px 4px 2px 4px;
    border: 2px solid var(--preto-secundario);
    border-radius: 2px;
}

input:hover {
    outline: 2px solid var(--azul-hover);
}

input:focus {
    outline: 1px solid var(--azul-hover);
}

.shadow {
    box-shadow: 0 4px 8px var(--shadow);
}

.shadow-header {
    -webkit-box-shadow: -2px 16px 16px -5px var(--shadow); 
    box-shadow: -2px 16px 16px -5px var(--shadow);
}

.shadow-footer {
    -webkit-box-shadow: 1px -17px 15px 0px var(--shadow); 
    box-shadow: 1px -17px 15px 0px var(--shadow);
}

 