
.menu .pt1 {
    background-color: var(--cinza-claro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    
}

.menu .pt1 .botoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 23%;
    padding-left: 1%;
}



.dark-icon {
    font-size: 52px;
    color: var(--verde);
    cursor: pointer;
}

.menu .logo {
    color: var(--verde);
    font-size: 45px;
    font-weight: 900;
    cursor: pointer;
}

.menu .pt2 {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    color: var(--verde);
    height: 35px;
}

.menu .pt2 .migalha li{
    list-style: none;
    display: inline-block;
    width: 250%;
    border-bottom: 1px solid var(--verde);
}


.menu .pt2 .links li{
    font-size: 14px;
    list-style: none;
    display: inline-block;
    font-weight: bold;
    position: relative;
    padding-bottom: 2px;
    padding-top: 2px;
}


.menu .pt2 .links li:nth-child(-n+3){
    margin-right: 30px;
}


.menu .pt2 .links li:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position:absolute;
    background: var(--verde);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .menu .pt2 .links li:hover:after { 
    width: 100%; 
    left: 0; 
  }
