
header .topheader {
    background-color: var(--cinza-claro);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

header .topheader-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    padding-left: 5%;
}

header .topheader-logo a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header .logo {
    width: 70%;
}

header .topheader-options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding-right: 5%;
}

header .topheader-options * {
    margin-left: 1.5rem;
}

.dark-icon {
    font-size: 3rem;
    color: var(--verde);
    cursor: pointer;
}

header .subheader {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
}

header .subheader .links li {
    font-size: 1rem;
    list-style: none;
    display: inline-block;
    font-weight: bold;
    color: var(--verde)
}

header .subheader .links li:nth-child(-n+3) {
    margin-right: 1.5rem;
}