.imagem {
  margin-top: 20px;
  margin-left: 10%;
  padding: 8% 0% 8% 0%;
  width: 80%;
  height: 700px;
  color: #ffffff;
  background: url(../images/index.png) no-repeat;
  border-radius: 5px;
  /* filter: blur(5px); */
}

.box-texto-simples {
  margin-left: 35%;
  width: 30%;
}

.box-texto-destaque {
  margin-left: 20%;
  width: 60%;
}

.imagem p {
  font-size: 25px;
}

.imagem h1 {
  font-size: 40px;
  margin-top: 120px;
  font-weight: 300;
}

.comecar {
  margin-top: 150px;
}

.pt3 {
  margin: auto;
  width: 50%;
  height: 80px;
  margin-top: 12px;
  background-attachment: #ffffff;
  box-shadow: 0 0px 24px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pt3 div {
  display: flex;
}

.simulacao h3 {
  text-decoration: none;
  margin: 30px;
  color: #3a5b62;
  font-size: 30px;
  text-align: center;
}

.pt4 {
  margin: auto;
  display: flex;
  width: auto;
  background-attachment: #ffffff;
  box-shadow: 0 0px 24px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 30px;
  height: 200px;
  border-radius: 8px;
}

.bt {
  border:1px solid #3A5B62;
  border-radius:4px;
  padding:10px 200px;
  background-color:#3A5B62;
  color: #ffffff;
  margin:0 2em 0 0;
} 

.down-icon {
  margin-bottom: 15px;
}