* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-width: 100%;
    min-height: 100%;
    background-color: white;
}

main {
    margin-top: 7%;
    height: 25rem;
    width: 100%;
}

.container {
    margin: 0 auto;
    height: 100%;
    width: 35%;
}

.logo {
    display: flex;
    justify-content: center;
}


.content-form {
    margin-top: 4%;
    height: 100%;
    background-color: white;
    box-shadow: 4px 8px 30px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.content-form form {
    margin: 0 auto;
    width: 90%;
}

.content-form form h3 {
    opacity: 0.8;
}

.redefinir-senha {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redefinir-senha input {
    width: 70%;
    padding: 2px 0;
    border: 1px solid black;
    height: 40px;
    text-indent: 14px;
}

.bg-transparente {
    background-color: transparent;
}

.cor-verde {
    color: #3A5B62;
}

.mr-15 {
    margin-right: 15px;
}

.fonte-15 {
    font-size: 15px;
}