.titulos {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}
.titulo-simulador{
    background-color: var(--branco);
    border-radius: 4px;
    height: auto;
    padding: 1rem 0;
    margin: 0 5% 2rem 5%;
    color: var(--texto-verde-branco);
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulos div:nth-child(1){
    width: 40%;
}
 
.titulos div:nth-child(2){
    color: var(--preto-secundario);
    width: 60%;
}

.bancos {
    width: 90%;
    margin-left: 5%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.box-banco {
    width: 40%;
    border-radius: 4px;
    height: auto;
    padding: 1.5rem 0;
    margin: 0 3% 2rem 3%;
    color: var(--texto-verde-branco);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-banco h4{
    padding: 0.5rem 0;
    color: var(--preto-secundario);
}

.icon-bank {
    width: 30%;
    align-self: center;
    border-radius: 4px;
}

.logo-bancos {
    width: 80%;
}

.cx-info {
    width: 80%;
    border-radius: 4px;
    height: auto;
    padding: 0.5rem 0;
    margin: 0 3% 2rem 3%;
    color: var(--preto-secundario);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cx-info span:nth-child(1){
    padding: 0 1rem;
    font-weight: bold;
}

.box-ver-mais {
    width: 80%;
    border-radius: 4px;
    height: auto;
    padding: 0.5rem 0;
    margin: 0 3% 2rem 3%;
    color: var(--preto-secundario);
    display: flex;
    align-items: center;
    justify-content: center;
}

