.table-header {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1.5fr;
    align-items: center;
    color: var(--verde);
    text-align: center;
    margin: 5% 5% 4rem 5%;
}

.table-header h1 {
    font-size: 16px;
    font-weight: bold;
    color: var(--verde);
}

.card-testes-arquivos {
    margin: 1rem 5%;
    height: 45px;
    /* background-color: var(--branco); */
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1.5fr;
    align-items: center;
    border-radius: 4px;
}

.card-testes-arquivos:last-child {
    margin-bottom: 4rem;
}

.card-testes-arquivos span {
    font-size: 15px;
    color: var(--preto-terciario);
    text-align: center;
}

.barra-progresso-porcentagem-sucesso {
    padding: 2px 3px; 
    width: 100%;
    height: 1.4rem;
    display: flex;
    align-items: center;
    background-color: #ccc;
    text-align: center;
    border-radius: 5px; 
}

.barra-cor-porcentagem-sucesso {
    border-radius: 5px; 
    height: 1.1rem;
}

.text-pocentagem-sucesso {
    position: absolute;
}
