.box-card-teste {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    align-items: center;
    background-color: var(--branco);
    color: var(--preto-terciario);
    margin: 5% 5% 4rem 5%;
    padding: 0px 70px;
    border-radius: 4px;
    font-size: 15px;
    text-align: center;
}

.div-grafico-teste{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grafico-torta-porcentagem {
    width: 100px;
    height: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: var(--verde);
}

.text-porcentagem-sucesso {
    position: absolute;
    z-index: 1000;
    font-size: 0.8rem;
}

.btn-card-teste {
    color: var(--branco);
    border-radius: 3px;
    padding: 8px 16px 8px 16px;
    display:flex;
    justify-content: center;
}

.titulo-teste-projeto {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    align-items: center;
    margin: 5% 5% 4rem 5%;
    padding: 0px 70px;
    color: var(--verde);
    text-align: center;
}

.nome-projeto-card-teste {
    cursor: pointer;
    color: var(--verde);
}