:root {
    --verde: #3A5B62;
    --cinza-claro: #EBEBEC;
    --branco: #FFFFFF;
    --azul: #DBF8FF;
    --azul-hover: #5ce2ff;
    --preto: #000000;
    --preto-secundario: #454545;
    --preto-terciario: #252525;
    --cinza-escuro: #353535;
    --cinza-escuro-secundario: #252525;
}