* {
  scroll-behavior: smooth;
}
.imagem {
  margin-top: 20px;
  margin-left: 10%;
  padding: 8% 0% 8% 0%;
  width: 80%;
  height: 700px;
  color: #ffffff;
  background: url(../images/index.png) no-repeat;
  border-radius: 8px;
  /* filter: blur(2px); */
  backdrop-filter: blur(2px);
}

.box-texto-simples {
  width: 55%;
  margin-left: 20%;
}

.box-texto-destaque {
  margin-left: 20%;
  width: 60%;
}

.imagem p {
  font-size: 30px;
  text-align: center;
}

.imagem h1 {
  font-size: 40px;
  margin-top: 120px;
  font-weight: 300;
  text-align: center;
}

.comecar {
  margin-top: 150px;
}

.pt3 {
  margin: auto;
  width: 50%;
  height: 80px;
  margin-top: 36px;
  background-attachment: #ffffff;
  box-shadow: 0 0px 24px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.pt3 div {
  display: flex;
}

.simulacao h3 {
  text-decoration: none;
  margin: 30px;
  color: #3a5b62;
  font-size: 30px;
  text-align: center;
}

.pt4 {
  margin: auto;
  display: flex;
  width: auto;
  background-attachment: #ffffff;
  box-shadow: 0 0px 24px rgba(0, 0, 0, 0.2);
  margin-top: 32px;
  margin-right: 20px;
  margin-left: 30px;
  height: 240px;
  border-radius: 8px;
}

.btn-valor-imovel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bt {
  border:1px solid #3A5B62;
  border-radius:4px;
  padding:10px 180px;
  background-color:#3A5B62;
  color: #ffffff;
  margin: 2em 2em 0 2em;
  font-weight: 500;
} 

.imovel{
  margin: auto;
  display: flex;
  align-items: flex-start;
  width: auto;
  background-attachment: #ffffff;
  box-shadow: 0 0px 24px rgba(0,0,0, 0.2);
  margin-top: 32px;
  margin-right: 2%;
  margin-left: 2%;
  height: 240px;
  border-radius: 8px;
  box-shadow: 0 0px 24px rgba(0,0,0, 0.2);
}

.imovel section {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 20px;
  display: flex;
  height: 40%;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  font-weight: 600;
}

.voltar{ 
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 40%;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 20px;
  text-decoration: none;
  min-width: 150px;
}

.voltar div {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #3A5B62;
}

.bt-simular {
    border:1px solid #3A5B62;
    border-radius:4px;
    padding:10px 16em;
    background-color:#3A5B62;
    color: #fff;
    width: 100px;
    height: 50px;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: -72px;
    font-weight: 600;
}
#bt-comecar {
  text-decoration: none;
  color: white;
  transition: 0.5s all;
}

#bt-comecar:hover {
  transform: scale(1.1,1.1);
  transition: 0.5s all;
}

#select-imoveis {
  width: 100%;
  padding: 4px 16px 4px 16px;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600;
} 

.ml-30 {
  margin-left: 30px;
}

.dark-icon {
  margin-top: -12px;
  cursor: pointer;
}