.login{
    margin: auto;
    width: 50%;
    height: 80px;
    margin-top: 80px;
    background-attachment: #ffffff;
    box-shadow: 0 0px 24px rgba(0,0,0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login h3{ 
    text-decoration: none;
    margin: 30px;
    color: #3A5B62;
    font-size:30px;
    text-align: center;
  }



  .entrar{

  margin: auto;
  width: 50%;
  height: 200px;
  margin-top: 80px;
  display: flex;
  

  flex-direction: column;
  }

  .entrar h3{
      margin-top: 25px;
      display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .entrar input{
      color: #3A5B62;
  }



  .bt {
      margin-top: 80px;
    border:1px solid #3A5B62;
    border-radius:4px;
    padding:10px 20px;
    background-color:#3A5B62;
    color: #ffffff;
    
  } 