.screen1 header h1 {
    color: var(--text-body-light);
}

.button-dark-mode * {
    color: var(--text-body-light);
}

.login {
    height: calc(100vh - 88px);
    width: 100%;
    padding: 20px;
}

.login section {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: var(--text-body-light);
}

.login .head-login {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-login a {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all;
}

.head-login a * {
    height: 88%;
    width: 88%;
    color: var(--text-body-light);
}

.head-login a:hover {
    /* transform: scale(0.95); */
    background-color: var(--hover-light);
    transform: scale(1.3,1.3);
}

.form-login {
    height: calc(100vh - 192px);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.input-login-button {
    width: 100%;
}

.input-login {
    width: 80%;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-login h3 {
    padding-bottom: 12px;
    color: var(--text-body-light);
}

.title-input-login {
    width: 490px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input-login input {
    text-align: start;
    color: var(--text-body-light);
    width: 500px;
    height: 35px;
    height: 46px;
    padding-left: 12px;
    border-radius: 8px;
    font-weight: 400;
    border: 4px solid var(--text-body-light);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    outline: 0;
}

input[type=password] {
    letter-spacing: 4px;
  }

.input-login-button section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15%;
}

.input-login-button section button {
    border: 3px solid var(--text-body-light);
    padding: 4px 32px;
    background-color: transparent;
    color: var(--text-body-light);
    font-weight: 400;
    width: 140px;
}

.input-login-button section button:hover {
    color: var(--hover-light);
    border-color: var(--hover-light);
}

.login input:hover:not(.input-disabled) {
    border-color: #c0c0c0;
}
  
.login input:focus {
    border-color: var(--hover-light);
}
