img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#app {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#app > div {
    margin: 0.4rem;
    height: 16rem;
    width: 90%;
    border-radius: 16px;
}

.chart-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chart {
    position: relative;
    height: 95%;
    padding: 0.2rem;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.25);
}

.chart-drag {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.giant-chart {
    width: 48%;
}

.tiny-chart {
    width: 32%;
}