.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    width: 20%;
    margin-top: 30px;
    padding: 10px;
    background-color: white;
    box-shadow: 4px 8px 30px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin: 10px;
}

.box-titulo {
    width: 55%;
    height: 75px;
    color: #3A5B62;
}

.box-subtitulo {
    width: 70%;
    height: 50px;
    color: #4B4B4B;
}

.box-subtitulo h4 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0;
}

.box-campos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.box-campos select,
.box-campos input {
    margin-top: 10px;
    width: 20%;
    height: 35px;
    padding: 5px;
    text-align: center;
    color: #4b4b4b;
    border: 2px solid #636363;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 15px;
}

.box-campos a {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white !important;
}

.box-campos p {
    font-size: 16px;
}

.grafico {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    height: 250px;
    background-color: var(--background-light);
    box-shadow: 4px 8px 30px rgb(0 0 0 / 10%);
    border-radius: 12px;
}

.btn-contratar {
    background-color: #3A5B62;
    border: 2px solid #7C9196;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 500;
    width: 30%;
    font-size: 18px;
}

.alert-avaliacao {
    background-color: #3A5B62;
    box-shadow: 0 4px 8px #000;
    border-radius: 12px;
    color: white;
    width: 300px;
    height: 130px;
    opacity: 0.8;
    position: fixed;
    bottom: 25%;
    right: 28px;
}

.btn-close {
    width: 20px;
    margin-top: 5px;
    position: fixed;
    right: 50px;
    cursor: pointer;
}

.titulo-avaliacao {
    font-size: 20px;
    text-align: center;
    margin-top: 10%;
}

.btn-avaliacao {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-avaliacao img {
    margin-top: 1%;
    width: 50px;
    cursor: pointer;
}

.btn-contato {
    margin: 0 20px;
    width: 20%;
    height: 40px;
    background-color: white;
    box-sizing: border-box;
    border: 4px solid #3A5B62;
    border-radius: 4px;
    color: #3A5B62;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.btn-contato a {
    color: #3A5B62;
}

.btn-avaliacao-cancelar {
    background-color: #474646;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    width: 208px;
    height: 42px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-avaliacao-enviar {
    background-color: #3A5B62;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    width: 208px;
    height: 42px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="range"] {
    width: 70%;
    height: 24px;
    padding: 0px;
    -webkit-appearance: none;
    margin: 10px 0;
    background: #c4c4c4;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    overflow: hidden;
    width: 100%;
    height: 20px;
    border-radius: 5px;
    transition: 0.2s;
}

input[type="range"]::-webkit-slider-thumb {
    width: 25px;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    background: #f1f1f1;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-appearance: none;
    /* margin-top: -7px; */
    border: 2px solid #474646;
    box-shadow: -1040px 0 0 1040px #3A5B62, inset 0 0 0 40px #fff;
}

#input-hora {
    margin: 15px;
}

.anoFin {
    color: #4B4B4B;
    font-weight: 600;
    font-size: 14px;
}

.cor-verde {
    color: #3A5B62;
}

.fonte-15 {
    font-size: 15px;
}

.fonte-16 {
    font-size: 16px;
}

.fonte-20 {
    font-size: 20px;
}

.mr-15 {
    margin-right: 15px !important;
}

.bg-transparente {
    background-color: transparent;
}