.box-text-openbanking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 5% 2rem 5%;
}

.openbanking-text {
    padding: 20px 70px;
    align-items: center;
    justify-content: center;
}

.openbanking-text h2{
    color: var(--verde);
}
.openbanking-text p{
    color: var(--preto-terciario);
    text-align: center;
    font-size: 16px;
}

.carousel-indicators {
    margin-bottom: 50px;
}

.carousel { 
    padding-right: 5%;
    padding-left: 5%;
}