.container-slider{
    height: 504px;
    width: 100%;
    margin: 0 auto;
    margin: auto;
    height: 504px;
    margin-top: 60px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}


.openbanking-text {
    padding: 20px 70px;
    align-items: center;
    justify-content: center;
}

.openbanking-text h2{
    color: var(--verde);
}
.openbanking-text p{
    color: var(--preto-terciario);
}