.boxes {
    display:flex ;
    justify-content: space-around;
    
    }
    
    .box {
    display: flex;
        width: 290px;  
        flex-wrap: wrap;
        margin-top: 30px;
    
    }

    .teste {
        
        width: 290px;  
        height: 300px;
        border-radius: 5px 5px 0px 0px;
    }
    
    .teste img{
        background-image: url("../assets/images/ze.png");
        width: 100%;
        float: right;
        border-radius: 5px 5px 0px 0px;
        
    }
    
    .name{
        display: flex;
        width: 100%;
        background-color:#3A5B62;
        height: 40px;
        justify-content: center;
        align-items: center;
        border-radius: 0px 0px 5px 5px;
    }

    .boxNormal{
        width: 980px;
        margin: 0 auto;
      
        margin: auto;
        width: 90%;
        height: 200px;
        margin-top: 36px;
        background-attachment: #ffffff;
        box-shadow: 0 0px 24px rgb(0 0 0 / 20%);
        align-items: center;
        border-radius: 8px;
      }
    
      .titulo h3 {
          
            text-decoration: none;
            margin: 30px;
            color: #3a5b62;
            font-size: 30px;
            text-align: center;
      }

      .conteudo p{
          display: flex;
          justify-content: center;
            text-align: center;
    font-weight: 300;
    font-size: 16px;
      }